/* Estilos generales */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.app-logo {
  margin-right: 10px;
  margin-left: -20px;
  width: 100px;
  height: auto;
}

.header-text-container {
  margin-bottom: 20px;
}

.header-title {
  text-align: left;
  font-size: 2rem;
}

.header-description {
  font-size: 1.2rem;
}

/* Ajustes de los botones */
.home-button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.large-button {
  text-decoration: none;
  flex: 1;
  min-width: 300px;
  max-width: 48%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.large-button:hover {
  background-color: #e0e0e0;
}

.home-button {
  text-align: left;
}

.button-content {
  display: flex;
  align-items: center;
}

.button-image-financiar {
  width: 79px;
  height: 99px;
  margin-right: 10px;
}

.button-image-refinanciar {
  width: 91px;
  height: 113px;
  margin-right: 10px;
}

/* Footer de los botones */
.home-button-footer {
  text-align: center;
}

.p-button {
  font-weight: bold;
}

/* Botón de atrás */
.navButtonContainer {
  margin-top: 50px;
}

.atrasButton {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.atrasButton:hover {
  background-color: #bbb;
}



.option-container {
  border: 2px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-container.selected {
  border-color: #007bff;
  background-color: #e6f0ff;
}

.button-label {
  font-size: 16px;
  font-weight: bold;
}

.navButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.atrasButton, .continuarButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.atrasButton {
  background-color: #f0f0f0;
  border: none;
}

.continuarButton {
  background-color: #007bff;
  color: white;
  border: none;
}



