@import url("https://cdn.jsdelivr.net/gh/exacti/floating-labels@latest/floating-labels.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdn.muicss.com/mui-0.10.3/css/mui.min.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  width: 115px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*-------------------------------------------------*/
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-content {
  background-color: #fff;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  display: block !important;
  align-items: center;
  margin-bottom: 20px;
  margin-right: -25px;
  width: 100%;
}

.app-logo {
  margin-right: 0;
  margin-left: -10px;
  width: 150px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.header-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.subheader-text {
  font-size: 14px;
  color: #666;
}

ul {
  list-style: none;
  /* Remove the bullet points */
  padding: 0;
  /* Remove the padding */
  margin: 0;
  /* Remove the margin */
}

li {
  margin-bottom: 10px;
  /* Add some space between the list items */
}

h1 {
  color: #004e9c;
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.option-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  font-size: 1.35rem;
}

.button-label {
  font-size: 18px;
  color: black;
}

.button-container-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.option-container.selected {
  background-color: #e3f2fd;
  border-color: #64b5f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option-container.selected .button-label {
  font-weight: bold;
  color: #1e4a7a;
}

.option-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in-out;
}

.home-button-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.home-button-container a {
  text-decoration: none;
  display: block;
  width: 350px;
}

.card-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  &-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex: 1 1 0%;
    text-align: left;
    margin-left: 20px;
  }
}

.large-button {
  width: 100%;
  height: 159px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  background-color: #e1f0fa;
}

.large-button:hover {
  background-color: #e1f0fa;
}

.home-button {
  color: #004e9c;
  margin-left: 25px;
  margin-bottom: 15px;
  height: auto;
  background-color: #e1f0fa;
}

.home-button > h1 {
  font-size: 18px;
  color: #004e9c;
}

.home-button > p {
  font-size: 12px !important;
  font-weight: normal;
  color: black;
}

.home-button-footer {
  height: 131px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 13px;
  color: #fff;
  background-color: #49a8de;
  display: flex;
  flex-direction: column;
}

.home-button-footer > p {
  margin-left: 50px;
  margin-top: 15px;
}

.p-button {
  width: 150px;
  border-radius: 25px;
  background-color: #1c4f97;
  align-content: space-evenly;
  text-align: center;
  font-weight: bold;
}

/* Wizard Styles*/
.wizard-container {
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.wizard-container .step-nav {
  display: none;
}

.step-indicator {
  display: flex;
  align-items: center;
  margin: 0 10px 10px 10px;
  position: relative;
}

.gray-bar {
  width: 100%;
  height: 4px;
  background-color: #ccc;
}

.blue-bar {
  position: absolute;
  height: 4px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

.wizard-container span {
  color: #1c4f97;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
}

.form-content {
  flex-grow: 1;
  /* make the form content take up the remaining space */
  overflow-y: auto;
  /* add a scrollbar if the content is too long */
  padding: 20px;
}

/* Style inputs */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: right;
  height: 60px;
}

/* Style the submit button */
input[type="submit"] {
  width: 100%;
  background-color: #1c4f97;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button[type="submit"] {
  width: 100%;
  background-color: #1c4f97;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.form-input {
  grid-column: span 1;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
}

.input-container {
  width: 100%;
}

.form-input-column {
  grid-column: span 1;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
}

.navButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  gap: 15px;
  align-items: center;
}

.continuarButton {
  background-color: #004e9c;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  /* margin-left: 15px; */
  width: 249px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atrasButton {
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #9b9a9a;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 182px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* height: 95%;
    margin-top: 6px; */
}

.formControl-root {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  margin-top: 25px;
}

.cuotas-container {
  .form-container {
    display: flex;
    flex-direction: row;
  }
}

.vehiculo-container {
  width: 100%;
  display: flex;
  .form-container {
    display: flex;
    flex-direction: row;
  }
}

.vehiculo-year-container {
  width: 50%;
}

.formLabel-root {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.inputLabel-formControl {
  top: 5px;
  left: 15px;
  position: absolute;
}

.inputLabel-root {
  display: block;
  background-color: white;
}

.inputLabel-outlined {
  z-index: 1;
  pointer-events: none;
  font-weight: bolder;
  font-size: smaller;
  color: #000000;
}

.outlinedInput-root {
  background-color: white;
  width: 100%;
}

.textField-root {
  border-radius: 8px;
}

.inputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: Encode Sans Semi Condensed, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
}

.inputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.card {
  border: 1px solid #ddd;
  border-radius: 25px;
  min-height: fit-content;
  overflow: visible;
  pointer-events: none;
}

.card-header {
  background-color: #bee5ff;
  color: #fff;
  text-align: left;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.card-header h2 {
  margin: 0;
  align-self: baseline;
  width: 70%;
  overflow: visible;
}

.card-body {
  padding: 20px;
  background-color: #e1f0fa;
  width: 100%;
}

.card-content {
  display: flex;
}

.card-content > div {
  width: 50%;
}

.card-content > h1 {
  padding: 0 10px 0 0;
  margin: 0;
}

.continue-button {
  text-align: right;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.continue-button button {
  background-color: #1c4f97;
  color: #fff;
  border: 1px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
  width: 150px;
  height: 35px;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1;
}

.tooltip-trigger {
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #1c4f97;
  margin-left: 5px;
  color: white;
  font-size: 14;
  font-weight: 700;
  cursor: pointer;
  pointer-events: none;
}

/*     MobileFix     */
.stepNav-mobile {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.simulacionRow {
  width: 100%;
}

.simulacion-cuotas-movil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  align-content: center;
}

.formControl-root simulacionRow cuotas {
  margin: 0px;
  width: 50%;
}

.recalcular-button {
  background-color: #5cb8f7;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50%;
}

.popup {
  z-index: 1;
  position: absolute;
  margin-right: 20px;
}

.popup-header {
  display: flex;
  a {
    font-size: 16px;
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
}

.popup-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;

  p {
    margin: 0;
    text-align: left;
  }

  .coinsIcon {
    width: 50px;
    height: 50px;
  }

  .carIcon {
    width: 60px;
    height: 60px;
  }
}

.extra-info {
  ul {
    list-style-type: disc;
    margin-left: 10px;
  }
}

.mas-info {
  margin-left: -190px;
  color: #2e4e9c;
  text-decoration: underline;
  cursor: pointer;

  a {
    pointer-events: auto;
  }
}

.cuota {
  font-size: 28px !important;
}

.cuoton {
  padding-left: 63px;
}

.checkmark-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00a9e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INFO CREDITO & FILE UPLOADER*/

.info-credito {
  width: 100%;
}

.file-loader {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
}

.file-label {
  font-weight: bolder;
  font-size: smaller;
  margin-bottom: 8px;
}

.file-input {
  display: none;
}

.file-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #007bff;
  color: #007bff;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.file-button:active {
  background-color: #0056b3;
}

.loaded-document {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-file-upload {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

/* VALIDAR CON AGENTE */

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.checkmark-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  background-color: white;
  border-radius: 50%;
  padding: 8px;
}

.checkmark-icon {
  width: 80px;
  height: 80px;
}

.content-container {
  padding: 30px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
  }
}

h2 {
  color: #1a73e8;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

.finalize-button {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  background-color: white;
}

/* EXITO */

.exito-container {
  min-height: 450px;
}

.exito-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
